MONGO_URL=mongodb+srv://username:password@cluster.mongodb.net/dbname
DB_NAME=x67digital
CORS_ORIGINS=*
VIVA_CLIENT_ID=your_viva_client_id
VIVA_CLIENT_SECRET=your_viva_secret
VIVA_SOURCE_CODE=9750
VIVA_ENVIRONMENT=production
RESEND_API_KEY=your_resend_key
SENDER_EMAIL=contact@yourdomain.com
EMERGENT_LLM_KEY=your_emergent_key
CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name
TWILIO_ACCOUNT_SID=your_twilio_sid
TWILIO_AUTH_TOKEN=your_twilio_token
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886
