--extra-index-url https://d33sy5i8bnduwe.cloudfront.net/simple/
emergentintegrations
fastapi
uvicorn
motor
pymongo
python-dotenv
pydantic[email]
python-multipart
httpx
bcrypt
passlib
python-jose
resend
aiohttp
Pillow
cloudinary
